version: "3.7"
services:
  flask:
      build:
        ./
      volumes: 
        - .:/home/appuser
      depends_on:
        - mysql
      ports:
        - "5000:5000"
      environment:
        - PYTHONUNBUFFERED=1

  adminer:
      image: adminer
      ports:
        - 8888:8080

  mysql:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: db_anunbis
      LANG: C.UTF-8
    volumes:
      - ./src/database:/docker-entrypoint-initdb.d
    expose: 
      - "3306"
    command: mysqld --character-set-server=utf8 --collation-server=utf8_unicode_ci --init-connect='SET NAMES UTF8;' --innodb-flush-log-at-trx-commit=0 --default-authentication-plugin=mysql_native_password